<a href="https://colab.research.google.com/github/thehaoag/BigData/blob/main/Bank_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 69kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 36.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=de9a16d802efc9a6eac6c5d9649b075225d63254cb1c1569400e7c94166de3bd
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ML project").getOrCreate()

In [4]:
df = spark.read.csv("/content/drive/MyDrive/BigData/bank.csv",header=True,inferSchema=True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [5]:
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer()
indexer.setInputCol("job").setOutputCol("job_index")
df1 = indexer.fit(df).transform(df)

In [6]:
df1.toPandas()

       age          job  marital  ... poutcome deposit  job_index
0       59       admin.  married  ...  unknown     yes        3.0
1       56       admin.  married  ...  unknown     yes        3.0
2       41   technician  married  ...  unknown     yes        2.0
3       55     services  married  ...  unknown     yes        4.0
4       54       admin.  married  ...  unknown     yes        3.0
...    ...          ...      ...  ...      ...     ...        ...
11157   33  blue-collar   single  ...  unknown      no        1.0
11158   39     services  married  ...  unknown      no        4.0
11159   32   technician   single  ...  unknown      no        2.0
11160   43   technician  married  ...  failure      no        2.0
11161   34   technician  married  ...  unknown      no        2.0

[11162 rows x 18 columns]

In [7]:
indexer.setInputCol("marital").setOutputCol("marital_index")
df1 = indexer.fit(df1).transform(df1)
indexer.setInputCol("education").setOutputCol("education_index")
df1 = indexer.fit(df1).transform(df1)
indexer.setInputCol("default").setOutputCol("default_index")
df1 = indexer.fit(df1).transform(df1)
indexer.setInputCol("housing").setOutputCol("housing_index")
df1 = indexer.fit(df1).transform(df1)
indexer.setInputCol("loan").setOutputCol("loan_index")
df1 = indexer.fit(df1).transform(df1)
indexer.setInputCol("contact").setOutputCol("contact_index")
df1 = indexer.fit(df1).transform(df1)
indexer.setInputCol("month").setOutputCol("month_index")
df1 = indexer.fit(df1).transform(df1)
indexer.setInputCol("poutcome").setOutputCol("poutcome_index")
df1 = indexer.fit(df1).transform(df1)
indexer.setInputCol("deposit").setOutputCol("label")
df1 = indexer.fit(df1).transform(df1)

In [8]:
df1.toPandas()

       age          job  marital  ... month_index poutcome_index  label
0       59       admin.  married  ...         0.0            0.0    1.0
1       56       admin.  married  ...         0.0            0.0    1.0
2       41   technician  married  ...         0.0            0.0    1.0
3       55     services  married  ...         0.0            0.0    1.0
4       54       admin.  married  ...         0.0            0.0    1.0
...    ...          ...      ...  ...         ...            ...    ...
11157   33  blue-collar   single  ...         5.0            0.0    0.0
11158   39     services  married  ...         3.0            0.0    0.0
11159   32   technician   single  ...         1.0            0.0    0.0
11160   43   technician  married  ...         0.0            1.0    0.0
11161   34   technician  married  ...         2.0            0.0    0.0

[11162 rows x 27 columns]

In [9]:
feature_name=['age','balance','day','duration','campaign','pdays','previous','job_index','marital_index','education_index','default_index','housing_index','loan_index','contact_index',	'month_index'	,'poutcome_index']

In [10]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler()
assembler.setInputCols(feature_name).setOutputCol("features")
transformed_data = assembler.transform(df1)

In [11]:
transformed_data.toPandas()

       age  ...                                           features
0       59  ...  (59.0, 2343.0, 5.0, 1042.0, 1.0, -1.0, 0.0, 3....
1       56  ...  (56.0, 45.0, 5.0, 1467.0, 1.0, -1.0, 0.0, 3.0,...
2       41  ...  (41.0, 1270.0, 5.0, 1389.0, 1.0, -1.0, 0.0, 2....
3       55  ...  (55.0, 2476.0, 5.0, 579.0, 1.0, -1.0, 0.0, 4.0...
4       54  ...  (54.0, 184.0, 5.0, 673.0, 2.0, -1.0, 0.0, 3.0,...
...    ...  ...                                                ...
11157   33  ...  [33.0, 1.0, 20.0, 257.0, 1.0, -1.0, 0.0, 1.0, ...
11158   39  ...  (39.0, 733.0, 16.0, 83.0, 4.0, -1.0, 0.0, 4.0,...
11159   32  ...  (32.0, 29.0, 19.0, 156.0, 2.0, -1.0, 0.0, 2.0,...
11160   43  ...  (43.0, 0.0, 8.0, 9.0, 2.0, 172.0, 5.0, 2.0, 0....
11161   34  ...  (34.0, 0.0, 9.0, 628.0, 1.0, -1.0, 0.0, 2.0, 0...

[11162 rows x 28 columns]

In [12]:
(training_data, test_data) = transformed_data.randomSplit([0.8,0.2])

In [13]:
from pyspark.ml.classification import LogisticRegression
model = LogisticRegression(featuresCol = 'features',labelCol='label', maxIter=30)

In [14]:
M = model.fit(training_data)

In [15]:
predictions = M.transform(test_data)

In [16]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

multi_evaluator = MulticlassClassificationEvaluator(labelCol = 'label', metricName = 'accuracy')
print('Logistic Regression Accuracy:', multi_evaluator.evaluate(predictions))

Logistic Regression Accuracy: 0.7992056487202118